<h1>My Coupons</h1>
<br>
<% @coupons.each do |coupon| %>
  <section id="coupon-<%= coupon.id %>">
    <h3><%= coupon.name %></h3>
    <p><%= number_to_currency(coupon.amount) %> off</p>
    <p>Status: <%= coupon.status %></p>
  </section>
<% end %>
