<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Monster Shop</h1>
    <p class="lead">A ficticious E-Commerce site to demonstrate the implementation of Ruby on Rails, MVC, database relationships, migrations, ActiveRecord, software testing, and HTML/CSS layout/styling.</p>
  </div>
</div>
